.homepage_box {
  display: flex;
  width: 95%;
  margin: auto;
  margin-bottom: 0px;
  gap: 25px;
}

.profile_header {
  width: 77%;
  margin: 30px auto auto;
}

.profile_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_details > h2 {
  color: rgba(39, 38, 38, 0.822);
  font-size: 22px;
}

.profile_info {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

.profile_pic {
  width: 35px;
  border-radius: 50px;
}

.profile_info > p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(56, 55, 55, 0.822);
}

/* Left Navbar CSS */

.left_nav {
  background: linear-gradient(180deg, #395bc8 0%, #5e3bc8 100%);
  width: 13%;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 45px;
  text-align: left;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding-top: 15%;
  border-radius: 30px;
  margin: 20px 0px;
}

.mainDiv > hr {
  color: #5c58580c;
  border-radius: 30px;
}

.active {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active::after {
  content: ">";
  margin-left: 0px;
  font-weight: bold;
  background: #fff;
  color: #bdc5d4;
  border-radius: 50px 1px 1px 50px;
  padding: 6px 7px 9px 14px;
  margin-right: -45px;
}

.notActive {
  color: #b3afaf;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Profile Info */

.profile_card {
  position: absolute;
  right: 4%;
  top: 15%;
  background: #ffffff;
  box-shadow: rgba(119, 118, 118, 0.493) 0px 3px 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  width: 310px;
  overflow: hidden;
}

.info {
  padding: 20px 70px;
}

.profile_image {
  width: 100px;
  border-radius: 100px;
}

.profile_name {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 500;
  color: rgb(74, 72, 72);
  font-size: 18px;
  width: 100%;
}

.info > p:last-child {
  font-weight: 400;
  color: grey;
  font-size: 16px;
  margin-top: 9px;
}

.profile_card > hr {
  color: grey;
  width: 81%;
  margin-left: 28px;
  margin-top: -10px;
}

.user_list > div {
  height: 95px;
  padding-right: 30px;
  width: 250px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.user_list > div::-webkit-scrollbar {
  display: none;
}

.signout_btn {
  background: #d55151;
  color: #ffffff;
  border-color: transparent;
  border-radius: 20px;
  font-size: 18px;
  padding: 6px 16px;
  margin-top: 20px;
  cursor: pointer;
}

/* Profile Container */

.container {
  display: flex;
  width: 100%;
}

.details {
  text-align: center;
  padding: 0px;
  margin-right: 25px;
}

.details > img {
  width: 200px;
  border-radius: 100px;
  margin-top: 25px;
  margin-top: 0px;
}

.name {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  margin-top: 5px;
}

.company {
  width: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: grey;
  margin-top: 5px;
}

.user_info {
  margin-top: 10px;
}
.user_info > div {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.user_info > div > h2 {
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  width: 210px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.user_info > div > h3 {
  width: 110px;
  text-align: right;
  font-size: 19px;
  color: grey;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
}

.vertical_line {
  border-left: 1px solid rgba(186, 184, 184, 0.753);
  height: 650px;
  width: 0%;
  margin-left: 10px;
}

.address_detail {
  width: 100%;
  text-align: left;
  padding-left: 80px;
}

.address_detail > h2 {
  font-size: 20px;
  font-weight: 600;
  color: grey;
  margin-top: 5px;
  font-weight: 400;
}

.address_info {
  margin-bottom: 10px;
}

.address_info > div {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.address_info > div > h3 {
  width: 110px;
  text-align: right;
  font-size: 19px;
  color: grey;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
}

.address_info > div > h2 {
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  width: 210px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.map {
  border-radius: 20px;
}

.lat_lng {
  display: flex;
  gap: 30px;
  justify-content: right;
  padding-right: 5px;
  margin-top: 10px;
}

.lat_lng > p {
  font-size: 12px;
  font-weight: 600;
  color: grey;
  margin-top: 5px;
  font-weight: 400;
}

.lat_lng > p > span {
  font-size: 13px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  margin-top: 5px;
}

/* Chat Box CSS */

.hide_chat {
  width: 250px;
  float: right;
  background: #2c65c8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  z-index: 100;
  margin-top: -18px;
  margin-right: 60px;
  cursor: pointer;
}

.show_chat {
  width: 250px;
  float: right;
  background: #2c65c8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  z-index: 100;
  margin-top: -280px;
  margin-right: 60px;
  cursor: pointer;
}

.chat_list {
  height: 300px;
  border: 1px solid #2c65c8;
  padding: 0px 10px;
  height: 260px;
  background: #ffffff;
  cursor: pointer;
  overflow: auto;
  -ms-overflow-style: none;
}

.chat_list::-webkit-scrollbar {
  display: none;
}

.chat_list > div {
  margin: 5px 0px;
}

.users {
  display: flex;
  margin-top: 0px;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.users > img {
  border-radius: 50px;
  width: 30px;
  margin: 0px;
  padding: 0px;
}

.users > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.users > div > p {
  font-weight: 400;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: rgb(56, 53, 53);
}

.users > p:hover {
  color: teal;
}

.chat_header {
  color: #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 19px;
  font-weight: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 600;
}

.icon_text {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}
