.landing_body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/landingPageBackground.png");
  background-size: 100% 100%;
}

/* User List CSS */

.card {
  width: 40%;
  background: #fff;
  margin: auto;
  border-radius: 20px;
  padding: 0px 0px 20px 0px;
  box-shadow: rgba(2, 2, 2, 0.24) 0px 3px 8px;
}

.card_title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 30px;
  position: relative;
  margin-top: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #f6f6f6;
  color: #545454;
}

.card_data {
  padding: 0px 30px;
  height: 350px;
  overflow-x: auto;
  background: #ffffff;
  cursor: pointer;
}

.user_list {
  display: flex;
  margin-top: 0px;
  align-items: center;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.user_list > img {
  border-radius: 50px;
  width: 35px;
  margin: 0px;
  padding: 0px;
}

.user_list > p {
  font-weight: 400;
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  color: rgb(56, 53, 53);
  text-decoration: none;
}

.user_list > p:hover {
  color: teal;
}
